#carousel-selection {
    font-size: clamp(2vmin, 3.3vw, 1.6rem);
    gap: min(6vmin, 4vw);
}

#outer {
    width: 70%;
}

.caption {
    font-size: 3.4vw;
}

.blm_butthole > .caption {
    font-size: 2.7vw;
}
